@charset "utf-8";
#Heading {
    color: #FF0004;
}
.HEADER {
    color: #FF0004;
}
.Pharagraph {
    color: #AABC24;
}
#IMG {
    opacity: 1;
    -webkit-box-shadow: 5px 2px 39px;
    box-shadow: 5px 2px 39px;
    background-color: #FFFFFF;
}
#BODY {
    background-image: -webkit-linear-gradient(270deg,rgba(61,28,98,1.00) 0%,rgba(62,26,91,1.00) 17.10%,rgba(62,25,87,1.00) 32.12%,rgba(62,25,88,1.00) 100%,rgba(77,3,3,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(61,28,98,1.00) 0%,rgba(62,26,91,1.00) 17.10%,rgba(62,25,87,1.00) 32.12%,rgba(62,25,88,1.00) 100%,rgba(77,3,3,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(61,28,98,1.00) 0%,rgba(62,26,91,1.00) 17.10%,rgba(62,25,87,1.00) 32.12%,rgba(62,25,88,1.00) 100%,rgba(77,3,3,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(61,28,98,1.00) 0%,rgba(62,26,91,1.00) 17.10%,rgba(62,25,87,1.00) 32.12%,rgba(62,25,88,1.00) 100%,rgba(77,3,3,1.00) 100%);
}
