@charset "utf-8";
h1 {
    color: #FF0000;
}
body div video {
}
body h4 {
}


body div video {
}

o4   {
    color: #00D00A;
}
o5 {
    color: #03C10E;
}



body {
}

body {
}
h2 {
    color: #FF0308;
}
